<div class="wrapper">
    <div [formGroup]="passwordForm" class="password-field">
        <input type="text" formControlName="password" placeholder="Enter your password">
    </div>
    <div class="strength-indicators">
        <div [ngClass]="{'red': isFirstCircle === 'red', 'green': isFirstCircle === 'green', 'yellow': isFirstCircle === 'yellow', 'grey': isFirstCircle === 'grey'}" class="indicator"></div>
        <div [ngClass]="{'green': isSecondCircle === 'green', 'yellow': isSecondCircle === 'yellow', 'grey': isSecondCircle === 'grey', 'red': isSecondCircle === 'red'}" class="indicator"></div>
        <div [ngClass]="{'green': isThirdCircle === 'green', 'grey': isThirdCircle === 'grey', 'red': isThirdCircle === 'red'}" class="indicator"></div>
    </div>  
</div>
